.blog__header__image {
  width: 100%;
  display: block;
  margin: 0;
  line-height: 0; // Removes space at bottom of image
}

.blog__header__image img {
  width: 100%;
  height: auto;
}

.blog__author {
  font-weight: 400;
  @include font_size_rems(17);
  line-height: 1;
  display: inline-block;
  float: left;
  margin: 13px 0 14px 0;
  width: 100%;
  @include breakpoint(small) {
    margin: 13px 0 36px 0;
  }
}

.blog__wrapper {
  padding: 31px 0 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  @include breakpoint(tiny) {
    padding: 65px 0 0;
  }
  @include breakpoint(large) {
    width: 1320px;
  }
}

.blog__top {
  max-width: 905px;
  display: block;
}

.blog__text {
  width: 100%;
  margin: 0 0 24px;
  display: block;
 }

.blog__text h1 {
  margin-top: 0;
}

.blog__text h2 {
  margin: 13px 0;
  @include font_size_rems(16);
  line-height: 1.75;
  color: #333;
  display: block;
  @include breakpoint(tiny) {
    @include font_size_rems(17);
  }
  @include breakpoint(small) {
    margin: 23px 0;
    @include font_size_rems(20);
  }
  @include breakpoint(medium) {
    @include font_size_rems(26);
    line-height: 36px;
    margin: 43px 0;
  }
  @include breakpoint(large) {
    line-height: 1.4;
    @include font_size_rems(31);
  }
}

.blog__text p,
.blog__text li {
  font-weight: 400;
  color: #7f7f7f;
  @include font_size_rems(14);
  @include breakpoint(tiny) {
    @include font_size_rems(15);
  }
  @include breakpoint(small) {
    @include font_size_rems(16);
    line-height: 26px;
  }
  @include breakpoint(medium) {
    @include font_size_rems(17);    
    line-height: 25px;
  }
}

.blog__text li:last-of-type {
  margin-bottom: 1rem; // LI spacing is done with margin top; this gives spacing between LIs and next element
}

.blog__text p {
  margin: 0 0 13px;
  @include breakpoint(medium) {
    margin: 0 0 19px;
  }
}

.blog__bottom {
  width: 91%;
  margin: 0 auto 18px;
  @include breakpoint(tiny) {
    width: 98%;
  }
  @include breakpoint(large) {
    width: 1335px;
    margin: 0 auto 5px;
  }
}

.blog__bottom__title {
  @include font_size_rems(22);
  line-height: 1;
  color: #333;
  display: block;
  text-align: center;
  margin: 0 0 47px;
  @include breakpoint(tiny) {
    @include font_size_rems(24);
    margin: 0 0 26px;
  }
  @include breakpoint(small) {
    @include font_size_rems(29);;
    margin: 0 0 29px;
  }
  @include breakpoint(medium) {
    @include font_size_rems(31);
  }
}